header {
  width: 100vw;
  background-color: #ddb45d;
  color: #fff;
}

header .container {
  width: 70vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.container .title,
.navbar li a {
  display: block;
  padding: 20px 10px;
  color: #fff;
  text-decoration: none;
}

.navbar ul {
  margin: 0;
  list-style: none;
  display: flex;
}

.navbar li a:hover {
  background-color: #dbc596;
}
